
 <!-- <div class="logo-details" (click)="closeopenSidebarpanel()"></div> -->
 <!-- <div *ngIf="open"  class="sidebar open"></div> -->
 <div  class="sidebar open">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">CodingLab</div>
      <!-- <i class='bx bx-menu' id="btn"></i> -->
    </div>
    <ul class="nav-list">
      <!-- <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">
          <h5>Search</h5>
          <h5>Search</h5>
          <h5>Search</h5>
        </span>
  
      </li> -->
      <!-- <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li> -->
      <li>
        <a routerLink="/View-component" routerLinkActive="" ariaCurrentWhenActive="page">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a routerLink="/Assessment-compoenent" routerLinkActive="" ariaCurrentWhenActive="page">
          <i class='bx bx-user'></i>
          <span class="links_name">Demo</span>
        </a>
        <span class="tooltip">Demo</span>
      </li>
      <li>
        <a  routerLink="/demo1-component" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class='bx bx-chat'></i>
          <span class="links_name">Demo2</span>
        </a>
        <span class="tooltip">Demo1</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Analytics</span>
        </a>
        <span class="tooltip">Analytics</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-folder'></i>
          <span class="links_name">File Manager</span>
        </a>
        <span class="tooltip">Files</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cart-alt'></i>
          <span class="links_name">Order</span>
        </a>
        <span class="tooltip">Order</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-heart'></i>
          <span class="links_name">Saved</span>
        </a>
        <span class="tooltip">Saved</span>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name">Setting</span>
        </a>
        <span class="tooltip">Setting</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <img src="profile.jpg" alt="profileImg">
          <div class="name_job">
            <div class="name">Prem Shahi</div>
            <div class="job">Web designer</div>
          </div>
        </div>
        <i  class='bx bx-log-out' id="log_out"></i>
        <!-- <i  class='bx bx-log-out' id="log_out" (click)="openSidebarpanel()"></i> -->
      </li>
    </ul>   
  </div>
  
  <!-- <div class="viwe">
    <section class="mainheader">
  
      <button class="button blue" (click)="openSidebarpanel()">
        Open
      </button>
    </section>
    <section class="mainContainer">
  
      <app-view></app-view>
    </section>
    <section class="mainfooter">
   
    </section>
  </div> -->
  <!-- <h2>
      {{myMethod()}}
  </h2>
  <p>My Name is <span class="color">{{dynName}}</span></p><hr>
  
  My App status is {{appStatus? status1 : status2}}
  
  <input type="text" name="" id="" [disabled]="false" [value]="dynName"> <br><br>
  
  My App status is {{appStatus? status1 : status2}}
  <input type="text" name="" [hidden]="false" id="" bind-value="StatName"><hr> -->
  
  <!-- <button class="blue" value="Laptop" (click)="onAddCart($event)">Laptop</button>
  <button class="blue" value="Mobile" (click)="onAddCart($event)">Mobile</button>
  <button class="blue" value="TV" (click)="onAddCart($event)">TV</button> <br>
  
  <h2>{{msg}}</h2> <hr>
  
   <button  class="k-button ax-btn" 
               (click)="openSettingtabpanel()"  iconClass="k-icon k-i-track-changes"
                  title="Add Media For Component">Media
              </button>
  
  <div
      class="ax-flayerpannel-sidebar-right"  [class.activeflayerPannelRight]="activeflayerPannelRight" id="activeflayerPannelRight">
       <button class="blue" value="Laptop">Laptop</button>
  <button class="blue" value="Mobile" >Mobile</button>
  <button class="blue" value="TV" >TV</button> <br>
   
      <div>
          <div class="">
              <button class="k-button ax-danger" title="Close"
                  (click)="closeSettingtabpanel()">Close
              </button>
          </div>
      </div> -->